.special {
  color: red;
}

:global(p) {
  font-size: 1.2rem;
}

:global(h2) {
  font-size: 1.7rem;
}

.about_bottom {
  margin-bottom: 11rem;
}

.work_bottom {
  margin-bottom: 18rem;
}

.work_link {
  margin-top: 0.3rem;
}

.content {
  padding: 0 2rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    &:not(:first-child) {
      margin-top: 0;
    }

    margin-bottom: 0;
  }
}

.name, .tagline {
  font-weight: normal;
}

.name {
  font-size: 2rem;
}

.tagline {
  font-size: 1.2rem;
}

.about_color {
  background-color: #3a96ec;
}

.work_color {
  background-color: #51b25c;
}

.home_color {
  background-color: #fff;
}

.link_color,
.work_link {
  a {
    color: #3a96ec;
  }
}

.home_logo {
  padding: 0 2rem;
  max-width: 650px;
  margin: 0 auto;
  svg {
    display: block;
  }
}

.default_link a {
  color: white;
}
.home_link a {
  color: black;
}

.blue {
  background-color: #3a96ec;
}

.green {
  background-color: #51b25c;
}

.link_container {
  display: flex;
  justify-content: flex-start;

  .email {
    height: 41px;
    padding-top: 0;
  }

  .linked {
    margin-left: 0;
  }

  img {
    height: 35px;
    margin-left: 1rem;
    margin-top: -2px;
    padding-top: 3px;

    :not(:nth-child(2n)) {
      padding-top: 3px;
    }
  }
}