.special {
  color: red;
}

:global(p) {
  font-size: 1.2rem;
}

:global(h2) {
  font-size: 1.7rem;
}

.about_bottom {
  margin-bottom: 11rem;
}

.work_bottom {
  margin-bottom: 18rem;
}

.work_link {
  margin-top: 0.3rem;
}

.time_range {
  display: inline;
  font-size: 1rem;
  margin-left: 5px;
}

.content {
  padding: 0 2rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    &:not(:first-child) {
      margin-top: 0;
    }

    margin-bottom: 0;
  }
}

.center {
  text-align: center;
}

.name, .tagline {
  font-weight: normal;
}

.name {
  font-size: 2rem;
}

.tagline {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.about_color {
  background-color: #3a96ec;
}

.work_color {
  background-color: #51b25c;
}

.home_color {
  background-color: #fff;
}

.link_color,
.work_link {
  a {
    color: #3a96ec;
  }
}

.home_logo {
  padding-top: 3rem;
  svg {
  display: block;
  margin: 0 auto;
  }
}

.default_link a {
  color: white;
}
.home_link a {
  color: black;
}

.blue {
  background-color: #3a96ec;
}

.green {
  background-color: #51b25c;
}