.link_container {
  right: 2rem;
  text-align: right;
  padding-top: 0.6rem;
  padding-right: 1rem;
  z-index: 2;

  a {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 1.25rem;
    }
  }
}

.logo {
  height: 4.5rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  a {
    display: block;
  }
}

.navbar {
  position: fixed;
}

.object {
  pointer-events: none;
}


.link_color a {
    color: white;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.app_container {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
