.link_container {
  display: flex;
  position: fixed;
  float: right;
  right: 2rem;
  text-align: right;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  z-index: 2;

  a {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 1.25rem;
    }
  }
}
