@mixin box-shadow($top, $left, $blur, $radius, $color) {
  -webkit-box-shadow: $top $left $blur $radius $color;
  -moz-box-shadow: $top $left $blur $radius $color;
  box-shadow: $top $left $blur $radius $color;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 650px;
  background-color: white;

  .email {
    height: 41px;
    padding-top: 0;
  }

  .linked {
    margin-left: 0;
  }

  img {
    height: 35px;
    margin-left: 1rem;
    margin-top: -2px;
    padding-top: 3px;

    :not(:nth-child(2n)) {
      padding-top: 3px;
    }
  }
}

.line {
  margin: 0 auto;
  @include box-shadow(0, 0px, 18px, 18px, white);
}

.contact_container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
