.top {
  height: 35vh;
  position: relative;
  padding: 0 1rem;
  max-width: 650px;
  margin: 0 auto;

  h1, .subtitle {
    color: white;
    margin: 0;
  }

  .subtitle {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 4.2rem;
    bottom: 0;
    position: absolute;
  }
}

.object {
  pointer-events: none;
}

.backdrop {
  background-color: #3a96ec;
}

.large {
  display: block;
  margin: 0 auto;
  top: -2rem;
  position: relative;
}

.logo {
  width: 100%;
  height: 4.5rem;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  a {
    display: block;
  }
}

.link_color a {
    color: white;
}
