.top {
  height: 35vh;
  position: relative;
  padding: 0 1rem;

  a {
    display: block;
  }

  h1, .subtitle {
    color: white;
    margin: 0;
  }

  .subtitle {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 4rem;
    bottom: 0;
    position: absolute;
  }
}

.object {
  pointer-events: none;
}

.large {
  display: block;
  margin: 0 auto;
  top: -2rem;
  position: relative;
}
