@import url('https://fonts.googleapis.com/css?family=Roboto:400');

.app_container {
  margin: 0 auto;
  max-width: 650px;
  font-family: 'Roboto', sans-serif;
}

.content_container {
  padding: 0 2rem;
}

.object {
  pointer-events: none;
}

.green {
  background-color: #51b25c;
}

.blue {
  background-color: #3a96ec;
}

.home {
  background: linear-gradient(#3a96ec, #51b25c);
}

.top {
  height: 40vh;
  position: relative;
  padding: 0 1rem;

  a {
    display: inline-block;
  }

  h1, .subtitle {
    color: white;
    margin: 0;
  }

  .subtitle {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 4rem;
    bottom: 0;
    position: absolute;
  }
}
