.icon {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  margin-left: 10px;
  flex: 0.2
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0 0 1rem;
  left: 0;
  right: 0;
  max-width: 650px;
  background-color: white;

  .email {
    height: 41px;
    padding-top: 0;
  }

  img {
    height: 35px;
    margin-left: 1rem;
    margin-top: -2px;
    padding-top: 3px;

    :not(:nth-child(2n)) {
      padding-top: 3px;
    }
  }
}

.line {
  height: 1px;
  width: 80vw;
  border-bottom: 1px solid lightgray;
  margin: 0 auto 2vh;
}

.contact_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.phrase p {
  margin: 10px 0;
}
