.icon {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  margin-left: 10px;
  flex: 0.2
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 0 2rem 1rem;
  left: 0;
  right: 0;
  max-width: 650px;
  margin: 0 auto;
  justify-content: center;

  .email {
    height: 41px;
    padding-top: 0;
  }

  img {
    height: 35px;
    margin-left: 1rem;
    margin-top: -2px;
    padding-top: 3px;

    :not(:nth-child(2n)) {
      padding-top: 3px;
    }
  }
}

.phrase {
  flex: 0.7;

  p {
    margin: 10px 0;
  }
}
